body {
  font-family: "Times New Roman", Georgia, Serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('/img/MultiPlate-lg.jpg');
  background-size: cover%;
  /*background-repeat: no-repeat;*/
}

div.nav-wrapper {
  background-color: black;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0fffff+0,000000+79,000000+100 */
  background: #0fffff; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #0fffff 0%, #000000 79%, #000000 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #0fffff 0%,#000000 79%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #0fffff 0%,#000000 79%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.margin-left {
  margin-left: 1.5em;
}

a.margin-right {
  margin-right: 2em;
  color: gold;
}


.container {
  margin: auto;
}

footer.page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  background-color: #000;

}

div.container, .grey-text.text-lighten-4 {
  text-align: right;
}


main {
  flex: 1 0 auto;
}
