body {
  font-family: "Titillium Web", "Times New Roman", Georgia, Serif;
  font-weight: 400;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /*padding-bottom: 7%;*/
}

main {
  background: url('/img/BaconCheeseburger-lg.jpg');
  flex: 1 0 auto;
}

div.nav-wrapper {
  background-color: black;
  border-bottom: solid 2px #27b87b;
}

.margin-left {
  margin-left: 1.5em;
}

.margin-left2 {
  margin-left: 5em;
}

footer.page-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  background-color: #000;
  border-top: solid 2px #27b87b;
  z-index: 1;
}

.footer-copyright {
  text-align: center;
  height: 1em;
}

h1 {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-size: 3em;
  color: white;
  text-align: center;
}

.stripe {
  color: #000;
  text-align: center;
  background-color: rgba(159, 166, 198, 0.6);
  padding: .8em;
  padding-bottom: 2em;
}


p {
  font-size: 1.5em;
}

.icon {
  height: 50px;
}

.bottom-margin {
  margin-bottom: 7%;
}
